<div id="box-banner" class="container">
    <div id="bannerContainerStruct" class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="../../img/PicNoBackground2.png" alt="">
        </div>
        <div id="banner-struct" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="bannertext">
                <h2 id="helloText">Hello! My name is</h2>
                <h1>Alexandre</h1>
                <h3 id="welcomeText">Welcome to my website, which I created to make our interaction more
                    informative and
                    pleasant.</h3>
            </div>
            <div class="bannerbutton">
                <a href="../../img/Alexandre_Gouveia_Rodrigues_Resume.pdf" download>
                    <button id="resumeText">Download Resume</button>
                </a>
            </div>
        </div>
    </div>
</div>