<div id="box-banner" class="container">
    <div id="bannerContainerStruct" class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="../../assets/img/header/profile.png" alt="">
        </div>
        <div id="banner-struct" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="bannertext">
                <h2 id="helloText">Hello! My name is</h2>
                <h1>Alexandre</h1>
                <h3 id="welcomeText">Welcome to my website, designed to display my technical
                    skills and project portfolio to potential recruiters and employers. Thank you for visiting!</h3>
            </div>
        </div>
    </div>
</div>