img{
    width: 100%;
}

#banner-struct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#bannerContainerStruct{
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 600;
    font-size: 90px;
}

h2{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 2px;
}

h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
}

/* Responsiveness */ 
@media (max-width: 767px){
    #banner-struct{
        text-align: center;
    }

    .row{
        display: flex;
        flex-direction: column-reverse;
    }

    h1{
        font-weight: 600;
        font-size: 14vw;
    }
    
    h2{
        margin-top: 20px;
        font-size: 6vw;
        font-weight: 400;
        margin-bottom: 1px;
    }
    
    h3{
        display: none;
    }
}