<div class="container">
    <div id="bannerContainerStruct" class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="assets/img/header/profile.png" alt="">
        </div>
        <div id="banner-struct" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="container">
                <p class="intro-label">Engineer | Builder | Systems Thinker</p>
                <h1>Alexandre Gouveia Rodrigues</h1>
                <p class="intro-description">I design and build high-impact software systems across product engineering,
                    infrastructure, and AI-powered tooling. This portfolio highlights the work I am most proud of.</p>
            </div>
        </div>
    </div>
</div>