<!-- Header -->
<section id="contact">
    <div class="container">
        <div id="bannerContainerStruct" class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="assets/img/header/profile.png" alt="">
            </div>
            <div id="header-struct" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="container">
                    <h1>Contact Me</h1>
                    <h3>Get in touch with me via social media or e-mail:</h3>
                    <div class="contact-box-wrapper">
                        <!-- LinkedIn -->
                        <div class="contact-box">
                            <a target="_blank" href="https://www.linkedin.com/in/alexandre-gouveia-r/">
                                <div class="contact-circle">
                                    <i class='bx bxl-linkedin-square'></i>
                                </div>
                            </a>
                            <a class="link" target="_blank"
                                href="https://www.linkedin.com/in/alexandre-gouveia-r/">https://www.linkedin.com/in/alexandre-gouveia-r/</a>
                        </div>
                        <!-- GitHub -->
                        <div class="contact-box">
                            <a target="_blank" href="https://github.com/alexandregr26/">
                                <div class="contact-circle">
                                    <i class='bx bxl-github'></i>
                                </div>
                            </a>
                            <a class="link" target="_blank"
                                href="https://github.com/alexandregr26/">https://github.com/alexandregr26/</a>
                        </div>
                        <!-- E-mail -->
                        <div class="contact-box">
                            <a>
                                <div class="contact-circle">
                                    <i class='bx bx-envelope'></i>
                                </div>
                            </a>
                            <a class="link">alexandre.gouveiarodrigues@mail.utoronto.ca</a>
                        </div>
                    </div>
                    <!-- Resume -->
                    <div class="resume-box">
                        <a href="./img/Alexandre_Gouveia_Rodrigues_Resume.pdf" download>
                            <button class="action-button">Download Resume</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Form -->
<section class="info">
    <div class="container box">
        <h1 class="title">Send Me an E-mail</h1>
        <form action="https://formsubmit.co/alexandre.gouveiarodrigues@mail.utoronto.ca" method="POST">
            <div class="row">
                <div class="form-group">
                    <div class="input-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input required type="text" id="name" name="name" placeholder="NAME *">
                    </div>
                    <div class="input-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input required type="email" id="email" name="email" placeholder="E-MAIL  *">
                    </div>
                </div>
                <div class="input-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input required type="text" id="subject" name="subject" placeholder="SUBJECT  *">
                </div>
                <div class="input-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input required type="text" id="message" name="message" placeholder="MESSAGE  *">
                </div>
                <div class="submit-wrapper">
                    <button class="action-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>