<!-- Header -->
<section class="work-header-section">
    <app-work-header [header]="header"></app-work-header>
</section>
<!-- Summary -->
<section>
    <div class="container box">
        <h1 class="title">{{ 'caseStudies.aps360.title' | translate }}</h1>
        <h1 class="subtitle">{{ 'caseStudies.common.projectDescription' | translate }}</h1>
        <p class="project-description">{{ 'caseStudies.aps360.description' | translate }}</p>
        <div class="img-container">
            <img src="assets/img/experience/Spotify/illustration.png" alt="">
        </div>
        <h1 class="subtitle">{{ 'caseStudies.aps360.dataProcessing' | translate }}</h1>
        <p class="project-description">{{ 'caseStudies.aps360.data1' | translate }}</p>
        <p class="project-description">{{ 'caseStudies.aps360.data2' | translate }}</p>
        <div class="img-container">
            <img src="assets/img/experience/Spotify/dataset.png" alt="">
        </div>
        <h1 class="subtitle">{{ 'caseStudies.aps360.modelTitle' | translate }}</h1>
        <p class="project-description">{{ 'caseStudies.aps360.model1' | translate }}</p>
        <p class="project-description">{{ 'caseStudies.aps360.model2' | translate }}</p>
        <div class="img-container">
            <img src="assets/img/experience/Spotify/ANN.png" alt="">
        </div>
        <h1 class="subtitle">{{ 'caseStudies.aps360.resultsTitle' | translate }}</h1>
        <p class="project-description">{{ 'caseStudies.aps360.results1' | translate }}</p>
        <div class="img-container">
            <img src="assets/img/experience/Spotify/results.png" alt="">
        </div>
        <p class="project-description">{{ 'caseStudies.aps360.results2' | translate }}</p>
        <h1 class="subtitle">{{ 'caseStudies.common.toolsUsed' | translate }}</h1>
        <div class="tools">
            <div class="tool">Python</div>
            <div class="tool">PyTorch</div>
            <div class="tool">NumPy</div>
            <div class="tool">Git</div>
        </div>
    </div>
</section>
<!-- Other Works -->
<section>
    <div class="container box">
        <h1 class="title">{{ 'caseStudies.common.otherWorks' | translate }}</h1>
        <div class="row">
            <div *ngFor="let project of otherWorks" id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="project"></app-project-box>
            </div>
        </div>
    </div>
</section>
