<!-- Summary -->
<section>
    <div class="container box">
        <h1 class="title">Software Developer Engineer Intern</h1>
        <h1 class="subtitle">Employment Details</h1>
        <div class="row">
            <div id="employment-struct" class="col-lg-6 col-md-6 col-sm-12 col-12">
                <p><span>Title: </span>Software Developer Engineer Intern</p>
                <p><span>Company: </span>Amazon</p>
                <p><span>Location: </span>Toronto</p>
                <p><span>Date: </span>May 2021 - August 2021</p>
            </div>
            <div id="employment-struct" class="col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="assets/img/experience/Amazon/work.png" alt="">
            </div>
        </div>
        <h1 class="subtitle">Job Description</h1>
        <p class="job-description">As a Software Developer Engineer Intern at Amazon, I led the development of a pivotal mobile web feature
            using React, allowing advertisers to visualize their campaign performance on the Amazon platform. In
            addition to development, I conducted comprehensive design reviews, facilitated User Acceptance Testing
            (UAT), and executed UI tests to ensure an optimal user experience before the feature's release. One
            significant contribution involved conducting an experiment to assess the feature's impact on user engagement
            and load times. The widespread adoption and minimal latency demonstrated by the results affirmed the
            feature's substantial value, leading to its permanent integration into Amazon's website as a testament to
            its success in enhancing user interaction and platform performance, showcasing my ability to deliver
            impactful solutions effectively.</p>
        <h1 class="subtitle">Tools Used</h1>
        <div class="tools">
            <div class="tool">CSS</div>
            <div class="tool">GIT</div>
            <div class="tool">HTML</div>
            <div class="tool">JavaScript</div>
            <div class="tool">React</div>
        </div>
    </div>
</section>
<!-- Other Works -->
<section>
    <div class="container box">
        <h1 class="title">Other Works</h1>
        <div class="row">
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="blockchain"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="tr"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="threads"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="mappa"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="portfolio"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="splitz"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="fps"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="utat"></app-project-box>
            </div>
        </div>
    </div>
</section>