<!-- Summary -->
<section>
    <div class="container box">
        <h1 class="title">Software Developer Intern</h1>
        <h1 class="subtitle">Employment Details</h1>
        <div class="row">
            <div id="employment-struct" class="col-lg-6 col-md-6 col-sm-12 col-12">
                <p><span>Title: </span>Software Developer Intern</p>
                <p><span>Company: </span>Thomson Reuters</p>
                <p><span>Location: </span>Toronto</p>
                <p><span>Date: </span>September 2021 - September 2022</p>
            </div>
            <div id="employment-struct" class="col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="assets/img/experience/ThomsonReuters/work.png" alt="">
            </div>
        </div>
        <h1 class="subtitle">Job Description</h1>
        <p class="job-description">As a Software Developer Intern at Thomson Reuters, I played a pivotal role in optimizing
            internal tools. I restructured API endpoints using C# in the .NET Framework, adhering to best practices for
            RESTful APIs. This initiative improved the tools' performance as well as usability. Moreover, I automated
            the onboarding process for new developers by utilizing AWS services to create a more time-efficient setup
            that eliminated unnecessary manual tasks. Additionally, I developed a testing tool using Angular and .NET,
            ensuring compliance with the OAuth protocol and enabling comprehensive testing of API authorization flows.
            Beyond technical contributions, I actively participated in Agile development processes, leading daily
            stand-up meetings, planning sprints, and facilitating sprint retrospective sessions. These experiences not
            only refined my technical skills but also provided a comprehensive understanding of effective teamwork and
            project management in a professional setting.</p>
        <h1 class="subtitle">Tools Used</h1>
        <div class="tools">
            <div class="tool">Angular</div>
            <div class="tool">AWS</div>
            <div class="tool">C#</div>
            <div class="tool">CSS</div>
            <div class="tool">Docker</div>
            <div class="tool">GIT</div>
            <div class="tool">HTML</div>
            <div class="tool">JavaScript</div>
            <div class="tool">.NET</div>
            <div class="tool">Python</div>
        </div>
    </div>
</section>
<!-- Other Works -->
<section>
    <div class="container box">
        <h1 class="title">Other Works</h1>
        <div class="row">
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="blockchain"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="amazon"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="threads"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="mappa"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="splitz"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="portfolio"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="fps"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-4 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="utat"></app-project-box>
            </div>
        </div>
    </div>
</section>