<!-- Header -->
<section class="work-header-section">
    <app-work-header [header]="header"></app-work-header>
</section>
<!-- Summary -->
<section>
    <div class="container box">
        <h1 class="title">FPS Game</h1>
        <h1 class="subtitle">Project Description</h1>
        <p class="project-description">For my final project in the University of Toronto's second-year computer
            engineering course, Computer Organization (ECE243), I coded a first-person shooter (FPS) game. Drawing
            inspiration from classic arcade games, the FPS utilized a basic yet effective ray tracing algorithm to
            render a 3D environment. The game was developed in the C language and fine-tuned for execution on Altera's
            DE1-SoC board, where users use switches to navigate the virtual space and push buttons to shoot fireballs at
            enemies. Although this was my first-ever dive into the world of game development, it inspired me to explore
            future opportunities in software engineering with a focus on this dynamic and exciting world.</p>
        <p class="project-description">The source code for the FPS game is available
            on my GitHub page but on a private repository to support academic integrity. Please contact me if you would
            like to know more.</p>
        <h1 class="subtitle">Tools Used</h1>
        <div class="tools">
            <div class="tool">Assembly</div>
            <div class="tool">C</div>
            <div class="tool">GIT</div>
        </div>
        <h1 class="subtitle">Live Demo</h1>
        <img id="demo" src="/assets/img/experience/ECE243/fps.gif" alt="">
    </div>
</section>
<!-- Other Works -->
<section>
    <div class="container box">
        <h1 class="title">Other Works</h1>
        <div class="row">
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['blockchain']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['tr']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['amazon']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['aps360']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece297']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['splitz']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece344']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['utat']"></app-project-box>
            </div>
        </div>
    </div>
</section>