.skill-box {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgcircle{
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 45px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.skill-icon{
    width: 55px;
}