<!-- Header -->
<section class="work-header-section">
    <app-work-header [header]="header"></app-work-header>
</section>
<!-- Summary -->
<section>
    <div class="container box">
        <h1 class="title">Blockchain Application</h1>
        <h1 class="subtitle">Project Description</h1>
        <p class="project-description">A capstone project is a summit for an engineering student, representing a
            significant undertaking that consolidates and showcases their cumulative learning throughout their academic
            journey. Unlike standard coursework, it offers students a chance to immerse themselves in a topic they are
            passionate about and proudly exhibit their ability to translate theory into impactful solutions. In my case,
            proposing a capstone project meant navigating the complex landscape of healthcare technology. Under the
            supervision of Professor Glenn Gulak, I crafted a project aimed at developing a patient-centric web
            application, leveraging blockchain technology to tackle the current challenges and limitations encountered
            by the province of Ontario's electronic health record (EHR) systems. With the invaluable support of my
            colleagues Ahoo Saeifar, Mahshad Jalali, and Maha Mukhtar, the project not only met its objectives but also
            earned a Certificate of Distinction from the Faculty of Applied Sciences and Engineering at the University
            of Toronto due to its innovative solution and potential to redefine standards in the healthcare technology
            domain.</p>
        <div class="img-container">
            <img id="capstone-team" src="assets/img/experience/Capstone/team.JPG" alt="">
        </div>
        <h1 class="subtitle">Motivation</h1>
        <p class="project-description">Ontario’s existing EHR systems have numerous limitations, including the lack of
            patient centricity, security concerns and interoperability challenges. This project sought to address these
            limitations by offering a solution that facilitated a safe and transparent distribution of health records
            between patients and healthcare practitioners through blockchain technology. Blockchain, due to its
            decentralized nature and principles of immutability and transparency, was an ideal solution for sharing and
            storing sensitive data, such as health records, in a way that ensures confidentiality, ownership, and
            efficiency.</p>
        <h1 class="subtitle">Final Design</h1>
        <p class="project-description">The final design consisted of five main modules:</p>
        <ol>
            <li>Front End</li>
            <p>The front end served as the primary interface for users to interact with the system.</p>
            <li>File Encryption</li>
            <p>The file encryption module served to protect sensitive medical data from unauthorized access. Every file
                uploaded to the system was encrypted using the AES256 algorithm and a cryptographic authentication
                technique called HMAC.</p>
            <li>Interplanetary File System (IPFS)</li>
            <p>IPFS was used as our file storage module to store all encrypted files.</p>
            <li>Hyperledger Fabric</li>
            <p>Hyperledger Fabric, the chosen blockchain platform, registered users and institutions and recorded all
                the unique hashes generated by IPFS with the metadata of each transaction between patients and
                healthcare practitioners.</p>
            <li>Web API</li>
            <p>The web API module acted as a connected the front end to the back end of the system.</p>
        </ol>
        <div class="img-container">
            <img src="assets/img/experience/Capstone/finalDesign.png" alt="">
        </div>
        <h1 class="subtitle">My Contributions</h1>
        <ul>
            <li>Hyperledger Fabric - Research</li>
            <p>My first contribution to the team after coming up with the idea for the project was to research our
                chosen blockchain platform, Hyperledger Fabric. This research included learning more about the
                components of Hyperledger Fabric, the network (architecture), transaction flow, user registration
                and authentication, and chaincode (business logic). This research was vital for successfully
                implementing and integrating blockchain into our system.</p>
            <li>Hyperledger Fabric - Network</li>
            <p>After exploring multiple platforms, such as Amazon Managed Blockchain, Astrakode,
                Chainstack, Composer, and FabDep, to create a Hyperledger network, I used a non-production
                sample provided by the Hyperledger Foundation due to the high costs and incompleteness of the
                mentioned platforms. To make the sample network compatible with our team goals, I changed
                the organizations provided in the code, fixed a bug, and eliminated unwanted resources.</p>
            <li>Hyperledger Fabric - Chaincode</li>
            <p>Once the network was completed, I implemented the business logic of the blockchain, also
                known as chaincode. This chaincode encompasses the registration and authentication of users
                and the retrieval and submission of transactions to the network. It is here where all user data and
                health data is recorded and sent to the network. The chaincode was created by separating
                different actions from the users into deterministic functions so that the network could verify and
                approve valid transactions. A total of 16 different functions were created for this project.</p>
            <li>Hyperledger Fabric - API</li>
            <p>My final contribution regarding the blockchain was the creation of an API that connects the
                external web application to the chaincode functions. This API contains 14 endpoints, each
                associated with a different action, that invokes the chaincode and exposes it to the web
                application through a local port. I also added user authorization and access control in this API
                with JWT tokens so that users can only perform actions based on their roles.</p>
        </ul>
        <div class="img-container">
            <img src="assets/img/experience/Capstone/banner.png" alt="">
        </div>
        <h1 class="subtitle">Tools Used</h1>
        <div class="tools">
            <div class="tool">Hyperledger Fabric</div>
            <div class="tool">Git</div>
            <div class="tool">JavaScript</div>
        </div>
    </div>
</section>
<!-- Other Works -->
<section>
    <div class="container box">
        <h1 class="title">Other Works</h1>
        <div class="row">
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['tr']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['amazon']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['aps360']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece297']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['splitz']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece344']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece243']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['utat']"></app-project-box>
            </div>
        </div>
    </div>
</section>