<a [routerLink]="projectbox.route" class="project-link">
    <article class="project-item liquid-card"
        [class.pointer-active]="isPointerInside"
        [style.--mx]="mouseX + 'px'"
        [style.--my]="mouseY + 'px'"
        (mousemove)="onPointerMove($event)"
        (mouseenter)="onPointerEnter($event)"
        (mouseleave)="onPointerLeave()">
        <div class="project-media" [style.background-image]="'url(' + projectbox.img + ')'"></div>
        <div class="project-content">
            <p>{{projectbox.company}}</p>
            <h2 class="subtitle">{{projectbox.title}}</h2>
        </div>
    </article>
</a>
