<!-- Header -->
<div class="container">
    <div id="bannerContainerStruct" class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="assets/img/experience/Portfolio/header.png" alt="">
        </div>
        <div id="banner-struct" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="container">
                <h1>Feeling Nostalgic?</h1>
                <h3>Click the button below to be
                    redirected to my previous portfolio!</h3>
            </div>
            <div class="button-box">
                <a target="_blank" href="https://alexandregr26.github.io/portfolio/">
                    <button class="action-button">Visit Old Portfolio</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Summary -->
<section class="info">
    <div class="container box">
        <h1 class="title">Online Portfolio</h1>
        <p class="project-description">Driven by the desire to craft a unique professional identity, I decided to build
            this online portfolio to provide recruiters and future employers with a complete view of my professional
            journey. Initially developed in 2020 using HTML, CSS, and JavaScript, I rebuilt it this year (2023) with
            Angular, embracing a more structured and modern approach to enhance the user experience.</p>
    </div>
</section>
<section>
    <div class="container box">
        <h1 class="subtitle">Tools Used</h1>
        <div class="tools">
            <div class="tool">Angular</div>
            <div class="tool">CSS</div>
            <div class="tool">Git</div>
            <div class="tool">HTML</div>
            <div class="tool">JavaScript</div>
        </div>
    </div>
</section>
<!-- Other Works -->
<section>
    <div class="container box">
        <h1 class="title">Other Works</h1>
        <div class="row">
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['blockchain']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['tr']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['amazon']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['aps360']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece297']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['splitz']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece344']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['ece243']"></app-project-box>
            </div>
            <div id="project-struct" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <app-project-box [projectbox]="projects['utat']"></app-project-box>
            </div>
        </div>
    </div>
</section>