.work-header-section {
    background-color: #272727;
}

li{
    font-size: 18px;
    padding-top: 10px;
}

.splitz-button {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: center;
}

#splitz-design{
    align-items: center;
}