@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Fonts */

.title {
    font-size: 36px;
    font-weight: bold;
    color: #323232;
    text-transform: uppercase;
    text-align: left;
    padding: 0px 12px 12px 0px;
    text-decoration: underline;
    text-underline-offset: 14px;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}

.mini-title {
    font-size: 24px;
    font-weight: 600;
    color: #323232;
    padding: 10px 0 0 0;
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0 10px 0;
}

.date {
    font-weight: 500;
}

.mini-description {
    font-size: 16px;
}

.info {
    background: #f2f2f2;
}

.info .title {
    text-decoration: none;
}

.job-description {
    text-align: justify;
}

.project-description {
    text-align: justify;
}

/* Containers */

.box {
    padding: 40px 40px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
}

.tool {
    padding: 1rem 2rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background: #f2f2f2;
    border-radius: 12px;
    font-weight: 500;
}

#project-struct{
    padding: 20px 20px;
}

/* Buttons */

.action-button {
    text-transform: uppercase;
    color: #323232;
    background-color: white;
    border: 0.1rem solid red;
    border-radius: 45px;
    font-weight: 600;
    height: 3rem;
    width: 230px;
    max-width: 100%;
    transition: .4s ease;
    transition-property: background-color, color;
}

.action-button:focus {
    outline: none;
}

.action-button:hover {
    color: white;
    background-color: red;
}

.action-button:before {
    content: '';
    background: grey;
    opacity: .5s;
    filter: blur(30px);
}