<app-header></app-header>
<section class="about">
    <div class="container box">
        <h1 class="title">About Me</h1>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>I'm a highly motivated Electrical and Computer Engineering graduate from the
                    University of Toronto, with a minor in Engineering Business and a certificate in Artificial
                    Intelligence.</p>
                <p>My professional focus is to create simple and elegant solutions to complex problems.
                    I firmly believe that every project presents unique challenges, exciting goals, and creative
                    solutions waiting to be uncovered. But here's the twist - I'm not just about the technical stuff.
                    I'm equally interested in aligning those solutions with business objectives to drive success.</p>
                <p>I'm also all about building meaningful connections. If you're interested in
                    collaborating on exciting projects, discussing new technologies, or connecting with like-minded
                    professionals, don't hesitate to reach out. Let's connect and explore possibilities together!</p>
            </div>
        </div>
    </div>
</section>